<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1 class="font-bold text-3xl mb-3">Products</h1>

<%= form_with(url: products_path, method: :get,
    class: "py-2",
    data: {turbo_frame: "products-table", 
           controller: "products-search",
           action: "input->products-search#submit"}) do |form| %>
  <%= form.label :q, "Search product", class: "block mb-2"%>
  <div class="my-2 overflow-hidden bg-white border divide-x rounded-lg dark:bg-gray-900 rtl:flex-row-reverse dark:border-gray-700 dark:divide-gray-700">
    <button class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 bg-gray-100 sm:text-sm dark:bg-gray-800 dark:text-gray-300">
        View all
    </button>

    <button class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">
        Monitored
    </button>

    <button class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">
        Unmonitored
    </button>
  </div>
  <div class="relative flex items-center mt-4 md:mt-0">
            <span class="absolute">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-3 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </span>
  <%= form.text_field :q, 
  class: "block w-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40", 
  placeholder: "Search for a product..." %>
  </div>
<% end %>
<%= turbo_frame_tag "products-table" do %>
  <div class="overflow-y-auto border border-gray-200 md:rounded-lg" style= "max-height: 50vh;">
    <table class="table-fixed w-full divide-y divide-gray-20">
      <thead class="sticky top-0 bg-gray-50">
        <tr>
          <th scope="col" class="w-11 py-3.5 px-3 text-sm font-medium text-left rtl:text-right text-gray-700 ">
            #
          </th>
          <th scope="col" class="w-2/5 py-3.5 px-12 text-sm font-medium text-left rtl:text-right text-gray-700 ">
            Name
          </th>
          <th scope="col" class="w-1/5 py-3.5 px-12 text-sm font-medium text-left rtl:text-right text-gray-700 ">
            Description
          </th>
          <th scope="col" class="w-1/12 py-3.5 px-4 text-sm font-medium text-left rtl:text-right text-gray-700 ">
            Brand
          </th>
          <th scope="col" class="w-fit py-3.5 px-4 text-sm font-medium text-left rtl:text-right text-gray-700">
            Enabled
          </th>
          <th scope="col" class="w-fit py-3.5 px-4 text-sm font-medium text-left rtl:text-right text-gray-700">
            Actions
          </th>
        </tr>
      </thead>
      <tbody id="products-table-body" class="overflow-y-auto bg-white divide-y divide-gray-200"></tbody>
    </table>
    <%= turbo_frame_tag "products-table-body-pagination", src: products_path(format: :turbo_stream, q: params[:q] ), loading: :lazy do %>
      <div >Loading...</div>
    <%end%>
  </div> 
<%end%>

<%= link_to "New product", new_product_path %>
